%h3.title 選挙一覧

.container_select
  .main_select
    - @selections.each do |selection|
      .box1
        .select
          .image
          %h3.text= link_to "#{selection.select_name}", selection_voters_path(selection)
  .aside_select
