%li.nav-item= link_to "新規権限者登録", new_admin_user_path
- if current_user
  %li.nav-item= link_to "ログアウト", logout_path, method: :delete
- if current_user.admin?
  %li.nav-item= link_to "ユーザー一覧", admin_users_path
- else
  %li.nav-item= link_to "ログイン", login_path
  