
body{
  width: 95%;
}

.contents_main{
  margin-left: 10%;
}

/* .title {
  width: 500px;
  margin:auto;
  font-family: 'Damion', cursive;
  font-size:80px;
  top:70px;
  position: relative;
  text-shadow: 3px 3px 0px #2c3e50;
} */

.menu {
  position: fixed;
  height: 100%;
  width: 65px;
  background: #2c3e50;
  transition:width 1s;
  overflow: hidden;
  font-family: 'Michroma', sans-serif;
  z-index: 99;
}

.menu:hover {
  width: 220px;
}

.menuItem span {
  position: absolute;
  left:80px;
  top:20px;
  transition:color 1s;
  color:rgba(255,255,255,0);
}

.menu:hover .menuItem  span {
 color:rgba(255,255,255,1);
}

.menuItem {
  position: relative;
  padding: 20px;
  transition:border .5s, background .2s;
}

.menuItem:hover {
  background: #34495e;
  cursor: pointer;
}

.uno {
  border-left:5px solid #16a085;
}

.uno:hover{
  border-left:20px solid #16a085;
}

.dos {
 border-left:5px solid #2980b9;
}

.dos:hover {
 border-left:20px solid #2980b9;
}

.tres {
  border-left:5px solid #8e44ad;
}

.tres:hover {
  border-left:20px solid #8e44ad;
}

.cuatro {
  border-left:5px solid #e67e22;
}

.cuatro:hover {
  border-left:20px solid #e67e22;
}

.cinco {
 border-left:5px solid #e74c3c;
}

.cinco:hover {
 border-left:20px solid #e74c3c;
}

.photo{
  height: 10vw;
  width: 10vw;
  background-color:green;
  margin-left: 10%;
}

.swiper-container{
  max-width: 100%;
  height: 25vw;
	height: auto;
	vertical-align: middle;
	border: 0px none;
}


.test-color1{
  background-color: wheat;

  height: 20vw;
}

.test-color2{
  background-color: green;

  height: 20vw;
}

.test-color3{
  background-color:blue;

  height: 20vw;
}

.header{
  height: 50px;
  width: 90%;
  background-color: green;
}

.front{
  font-size: 120%;
  margin-left: 10%;
  color: #fff;

}

.row_front{
  height: 50px;
  width:90%;
  margin-top:15px;
}
/*

/* ------------------------------------- /
/   Header
/* ------------------------------------- */
#header {
  padding-top: 20px;
  background-color: #eee;
}

/*  logo
/--------------------------------- */
.logo{
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.logo h1 { /* 丸とフォントのスタイリング */
  margin: 0;
  padding-top: 38px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 26px;
  color: #7E7E7E;
  background-color: #fff;
}

/*  nav
/*--------------------------------- */
/* .navbar {
  border-radius: 0;
}

.navbar-nav {
  float: none;
  width: 400px;
  margin: 10px auto;
}

.navbar-nav > li {
  text-align: center;
  float: left;
  width: 80px;
  border-right: 1px solid #555;
}
.navbar-nav > li.first {
  border-left: 1px solid #555;
}

.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
} */

.heading{
  padding:10px 12px;
  background-color: aqua;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.scroll-item{
  width: 90%;
}

.scroll-list{
  max-height: 220px;
  overflow-y: auto;
  margin-bottom:30px;
  list-style-type: none;
}

.scroll-list .scroll-item{
  display: inline-block;
  padding: 10px 15px;
  color: #333;
  transition: background-color 0.1s;
}

.scroll-list .scroll-item:nth-of-type(even){
  background-color: bisque;
}

.scroll-list .date{
  display: inline-block;
  width: 19%;
}

.scroll-list .category{
  display: inline-block;
  width: 8%;
}

.scroll-list .title{
  display: inline-block;
  width: 73%;
}

.clearfix{
  width: 80%;
}

.article-box{
  position: relative;
  display: block;
  width: 315px;
  height: 360px;
  margin-bottom: 30px;
  padding: 210px 15px 0;
  box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.15);
  background-color: azure;
}

.article-box:hover{
  opacity: 0.8;
}

.article-box:nth-of-type(odd){
  margin-left: 40px;
  float: left;
}

.article-box:nth-of-type(even){
  float: right;
}