%h3.title 政治家一覧
%table
  %thead
    %tr
      %th 名前
  %tbody
    - @politicians.each do |politician|
      %tr
        %td= politician.name

%ul#tab
  %li.square_btn.select 北海道
  %li.square_btn 東北
  %li.square_btn 関東
  %li.square_btn 北陸
  %li.square_btn 東海
  %li.square_btn 近畿
  %li.square_btn 中国
  %li.square_btn 四国
  %li.square_btn 九州
.clear
.content_wrap
  %li.square_btn 東北
  %li.square_btn 関東
  %li.square_btn 北陸
.content_wrap.disnon 内容2
  %li.square_btn 東北
  %li.square_btn 関東
  %li.square_btn 北陸
.content_wrap.disnon 内容3
.content_wrap.disnon 内容4

:javascript
  $(function() {
      $("#tab li").click(function() {
          var num = $("#tab li").index(this);
          $(".content_wrap").addClass('disnon');
          $(".content_wrap").eq(num).removeClass('disnon');
          $("#tab li").removeClass('select');
          $(this).addClass('select')
      });
  });
